@for $i from 5 to 100 {
	.font-#{$i} {
		font-size: #{$i}px !important;
	}
	.line-height-#{$i} {
		line-height: #{$i}px !important;
	}
}

$primary1 : #005824;
$primary2 : #007B3E;

$secondary1 : #91773B;
$secondary2 : #C0A877;

.avenir { font-family: 'Avenir', sans-serif; }
.amertha { font-family: 'Amertha', sans-serif; }

.primary1 { color: $primary1; }
.primary2 { color: $primary2; }

.secondary1 { color: $secondary1; }
.secondary2 { color: $secondary2; }

.title1 {
	color: $primary1;
	font-size: 24px;
	font-family: 'Avenir', sans-serif;
}

.title2 {
	color: $secondary2;
	font-size: 18px;
	font-family: 'Avenir', sans-serif;
	line-height:25px;
}

.title3 {
	font-size: 28px;
	font-family: 'Amertha', sans-serif;
	color: $primary2;
	margin-bottom: 15px;
}

.title4 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #000000;
	font-weight: 700;
}

.text1 {
	color: #000000;
	font-size: 18px;
	text-align: justify;
	font-weight: 400;
}

.divider {
	margin: 25px 0 !important;
	border-top: 2px solid $primary2;
	width: 160px;
}

.primary-link {
	font-size: 24px;
	color: $primary1 !important;
	font-weight: 700;;
	&:hover {
		color: $primary2;
		text-decoration: none;
	}
}

/** CARDS **/

.conference-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.conference-card {
		width: 45%;
		height: 250px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 20px;
		background-color:$secondary1;
		border-radius: 10px;
		margin-bottom: 20px;

		img {
			width: 100px;
		}

		.card-text {
			margin-top: 15px;
			color: white;
			font-size: 18px;
			text-align: center;
			font-family: 'Avenir';
		}
	}
}

.event-banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 100px;
}

.banner-title1 {
	font-family: 'Amertha', sans-serif;
	color: $primary1;
	font-size: 50px;
}
.banner-title2 {
	font-family: 'Avenir', sans-serif;
	color: $secondary1;
	font-size: 80px;
}

.subscribe-button {
	color: #fff;
	font-size: 25px;
	background-color: $primary2;
	padding: 26px 100px;
	text-align: center;
	font-family: 'Avenir';
	border-radius: 5px;
	line-height:24px;
	&:hover {
		color: #fff;
	}
}

.contact-image-icon {
	border-radius: 50%;
	background-color:$primary2;
	width: 150px;
	height: 150px;
	display: inline-block;
	padding: 40px;
	text-align: center;
}

.display-block {
	display: block;
}