
/*------------------------------------------------- */
/* =  about section */
/*------------------------------------------------- */

section.about-section {
	padding-top: 90px;
	background: url('../images/dev4.png') center bottom repeat-x;
	p {
		margin-bottom: 20px;
	}
	.video-box {
		padding-top: 70px;
		margin: 0 auto;
		max-width: 770px;
		margin-bottom: -64px;
		iframe {
			width: 100%;
			height: 400px;
			@include box-shadow(0 10px 45px rgba(0,0,0,0.18));
		}
	}
}

section.about-us-section {
	padding: 100px 0 60px;
	background: #f9fafb;
	border-bottom: 1px solid #e4e2f4;
	.about-us-box {
		.about-us-post {
			margin-bottom: 40px;
			i {
				display: inline-block;
				font-size: 60px;
				color: $primary-color2;
				margin: 0 0 20px;
			}
		}
	}
}

section.gallery-section {
	overflow: hidden;
	ul.gallery-list {
		@extend .reset-elem;
		li {
			display: block;
			float: left;
			width: 20%;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

section.subscribe-section {
	padding: 80px 0;
	text-align: center;
	background: url('../images/dev8.png') center bottom repeat-x;
	.subscribe-box {
		input[type="text"] {
			padding: 12px 20px;
			border: 1px solid #ededef;
			outline: none;
			background: #fff;
			@include border-radius(3px);
			min-width: 370px;
			color: #959aa1;
			font-size: 18px;
			font-family: $font-default;
			font-weight: 300;
			margin: 0 0 20px;
			margin-right: 25px;
		    @include box-shadow(0 0 25px rgba(0,0,0,0.10));
		}
		input[type="submit"] {
			color: #fff;
		    font-size: 18px;
		    font-family: $font-default;
		    text-transform: uppercase;
		    padding: 13px 30px 12px;
		    background: $primary-color;
		    font-weight: 400;
		    @include border-radius(2px);
		    @include transition(0.2s);
		    @include box-shadow(0 0 25px rgba(0,0,0,0.10));
		    outline: none;
		    border: none;
		}
		input[type="submit"]:hover {
		    background: $primary-color2;
		}
	}
}

section.about-conference-section {
	padding: 100px 0 0;
	.images-box {
		margin-bottom: 100px;
		padding-bottom: 30px;
		img:first-child {
			float: right;
			margin-bottom: -160px;
		}
		img:last-child {
			margin-left: 60px;
		}
		img {
			max-width: 370px;
			height: auto;
			@include border-radius(6px);
			@include box-shadow(0 16px 22px rgba(0,0,0,0.10));
		}
	}
}

.article-box {
	margin-bottom: 100px;
	span {
		display: inline-block;
		@extend .paragraph;
		font-family: $font-alternative;
		font-style: italic;
		font-weight: 400;
	}
	p span {
		color: $primary-color2;
	}
    h1 {
        padding-bottom: 20px;
        position: relative;
    }
    h1:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 70px;
        height: 1px;
        background: #2d3034;
    }
    a.default-button {
    	margin-top: 25px;
    	@include box-shadow(0 8px 15px #efefef);
    	position: relative;
    }
    a.default-button:before {
    	content: '';
    	width: 5000px;
    	height: 1px;
    	left: 100%;
    	top: 50%;
    	position: absolute;
    	background: #e4e2f4;
    	z-index: -1;
    }
    a.default-button:after {
    	content: '';
    	width: 5000px;
    	height: 1px;
    	right: 100%;
    	top: 50%;
    	position: absolute;
    	background: #e4e2f4;
    	z-index: -1;
    }
}

.article-box.white-style {
	margin-top: 25px;
	span {
		color: #cccccc;
	}
	p {
		color: #cccccc;
	}
    h1 {
        color: #fff;
    }
    h1:after {
        background: #fff;
    }
    a.default-button {
    	@include box-shadow(0 8px 15px rgba(0,0,0,0.1));
    }
    a.default-button:before,
    a.default-button:after {
    	display: none;
    }
}



.conference-features {
	margin-bottom: 100px;
	.iso-call {
		margin: -30px -15px -15px;
	}
	.conference-post {
		width: 50%;
		padding: 15px;
		.inner-box {
			background: url('../images/dev3.png');
			padding: 26px;
			@include border-radius(6px);
			h1 {
				margin-left: -42px;
				font-weight: 300;
				margin-bottom: 8px;
			}
			h1, h2 {
				color: #fff;
			}
			p {
				color: #c9c4ee;
				font-weight: 300;
				font-size: 17px;
			}
		}
	}
	.conference-post:nth-child(2n) {
		.inner-box {
			background:url('../images/dev5.png');
		}
	}
	.center-area {
		padding-top: 50px;
		a {
			@extend .paragraph;
			color: $primary-color2;
			font-weight: 400;
		}
		a:hover {
			text-decoration: underline !important;
		}
	}
}


