
/*------------------------------------------------- */
/* =  clients section */
/*------------------------------------------------- */

section.clients-section,
section.clients-section2,
section.clients-section3 {
	padding: 100px 0;
	.client-box {
		ul.client-list {
			@extend .reset-elem;
			overflow: hidden;
			li {
				list-style: none;
				float: left;
				width: 25%;
				a {
					display: inline-block;
					width: 100%;
					height: 150px;
					display: flex;
					align-items: center;
					justify-content: center;
					@include border-radius(5px);
					border: 1px solid transparent;
					color: $primary-color2;
				    font-size: 24px;
				    font-family: $font-default;
				    font-weight: 400;
				    line-height: 26px;
					img {
						max-width: 100%;
						max-height: 100%;
    					@include transition(0.2s);
					}
				}
				a:hover {
					border: 1px solid #e4e2f4;
					@include box-shadow(0 10px 30px #efefef);
				}
			}
		}
	}
}

section.clients-section2 {
	.client-box {
		ul.client-list {
			li {
				min-height: 440px;
				text-align: center;
				a {
				    margin-bottom: 30px;
				}
				.client-cont {
					padding: 0 15px;
					h2 {
						color: $primary-color2;
						margin-bottom: 0;
					}
					span {
						display: inline-block;
						color: #949ea9;
						font-size: 18px;
				        font-family: $font-alternative;
				        font-style: italic;
				        margin: 0 0 13px;
					}
				}
			}
		}
	}
	.center-button {
		a.default-button {
    		@include box-shadow(0 0 25px rgba(0,0,0,0.14));
		}
	}
}

section.clients-section3 {
	.client-box {
		ul.client-list {
			li {
				width: 16.6666%;
				margin-bottom: 10px;
				a {
				    margin-bottom: 30px;
				    padding: 0 20px;
				    img {
				    	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    					filter: grayscale(100%);
				    }
				}
			}
		}
	}
	.center-button {
		a.default-button {
    		@include box-shadow(0 0 25px rgba(0,0,0,0.14));
		}
	}
}

section.clients-section.with-article {
	padding: 50px 0;
	.client-box {
		ul.client-list {
			li {
				width: 50%;
			}
		}
	}
	.article-box {
		margin-top: 60px;
		a.default-button:before,
		a.default-button:after {
			display: none;
		}
	}
}