
/*------------------------------------------------- */
/* =  speaking section */
/*------------------------------------------------- */

section.conference-experience-section {
	padding: 70px 0;
	.experience-box {
		margin-bottom: 70px;
	}
	.statistic-box {
		.statistic-post {
			margin-bottom: 30px;
			h2 {
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: 1px solid #2d3034;
			}
			p {
				color: $primary-color2;
				font-size: 72px;
				margin: 0;
				line-height: 72px;
			}
		}
	}
}