
/*------------------------------------------------- */
/* =  Contact */
/*------------------------------------------------- */

#map {
	width: 100%;
	height: 400px;
}

section.contact-section {
	padding: 80px 0 0;
	border-top: 1px solid #e4e2f4;
	.contact-post {
		overflow: hidden;
		padding-bottom: 35px;
		margin-top: 35px;
		img {
			float: left;
			width: 70px;
			height: 70px;
			@include border-radius(50%);
		}
		.contact-post-content {
			margin-left: 100px;
			h2 {
				margin-bottom: 0;
			}
			span {
				display: block;
				color: $primary-color2;
				font-size: 18px;
				font-style: italic;
				font-family: $font-alternative;
				margin: 0 0 10px;
			}
			p {
				font-size: 17px;
				font-weight: 400;
				font-style: italic;
				font-family: $font-alternative;
				line-height: 24px;
			}
		}
	}
	.contact-info {
		margin-top: -180px;
		margin-bottom: -280px;
		position: relative;
		z-index: 9;
		.inner-contact-info {
			@include border-radius(6px);
			padding: 50px 60px 20px;
			background: url('../images/dev1.png');
			@extend .back-cover;
			i {
				display: inline-block;
				color: $primary-color;
				font-size: 36px;
				margin-bottom: 12px;
			}
			p {
				color: #fff;
				font-size: 24px;
				font-weight: 400;
				margin-bottom: 40px;
			}
		}
	}
	ul.info-list {
		@extend .reset-elem;
		li {
			display: block;
			margin-bottom: 16px;
			color: #757575;
			font-size: 13px;
			font-family: $font-alternative;
			span {
				display: block;
				margin-bottom: 6px;
				color: $title-color;
				font-size: 15px;
				font-family: $font-default;
			}
		}
	}
}

section.contact-section2 {
	padding: 80px 0;
	.contact-box {
		padding-top: 46px;
		border-top: 1px solid #efeef6;
		h2 {
			padding-bottom: 14px;
			margin-bottom: 30px;
			position: relative;
		}
		h2:after {
	        content: '';
	        position: absolute;
	        bottom: -1px;
	        left: 0;
	        width: 70px;
	        height: 1px;
	        background: #2d3034;
	    }
	    .places-box {
	    	.places-post {
	    		margin-bottom: 40px;
	    		img {
	    			width: 100%;
	    			height: auto;
	    			margin-bottom: 15px;
	    			@include border-radius(5px);
	    		}
	    		h3 {
	    			margin-bottom: 0;
	    		}
	    		a {
	    			font-size: 17px;
				    color: $primary-color2;
				    font-family: $font-default;
				    font-weight: 300;
	    		}
	    		a:hover {
	    			text-decoration: underline;
	    		}
	    	}
	    }
	    .contact-info {
	    	#map {
	    		height: 380px;
	    		margin-bottom: 20px;
    			@include box-shadow(0 10px 25px rgba(0,0,0,0.05));
	    	}
	    	.inner-contact-info {
	    		padding: 20px 0;
	    		p {
	    			margin-bottom: 10px;
	    			span {
	    				color: $primary-color2;
	    			}
	    			i {
	    				color: $primary-color;
	    				font-size: 30px;
	    				margin-right: 20px;
	    				width: 35px;
	    				display: inline-block;
	    				text-align: center;
	    				float: left;
	    			}
	    		}
	    	}
			ul.social-icons {
				@extend .reset-elem;
				li {
					display: inline-block;
					margin-right: 8px;
					a {
						color: #fff;
						width: 50px;
						height: 50px;
						@include border-radius(50%);
						line-height: 50px;
						text-align: center;
						background: transparent;
						font-size: 20px;
					}
					a.facebook {
						background: #3c43d4;
					}
					a.twitter {
						background: #3c84d4;
					}
					a.linkedin {
						background: #3c63d4;
					}
					a.instagram {
						background: #b64e9c;
					}
					a.youtube {
						background: #ea4040;
					}
					a:hover {
						opacity: 0.7;
					}
				}
			}
	    }
	}
    #contact-form {
		margin: 0 0 30px;
		label {
			display: block;
			color: #6c7a89;
			font-size: 18px;
			font-family: $font-default;
			font-weight: 300;
			margin: 0 0 15px;
		}
		input[type="text"],
		textarea {
			width: 100%;
			padding: 12px 20px;
			background: #f9fafb;
			color: #6c7a89;
			font-size: 18px;
			font-family: $font-default;
			font-weight: 300;
			line-height: 24px;
			outline: none;
			border: 1px solid #e4e2f4;
			margin: 0 0 24px;
			@include transition(0.2s);
			@include border-radius(2px);
		}
		textarea {
			height: 120px;
			margin-bottom: 24px;
		}
		input[type="submit"] {
			color: #fff;
		    font-size: 18px;
		    font-family: $font-default;
		    text-transform: uppercase;
		    padding: 11px 38px;
		    background: $primary-color;
		    font-weight: 400;
		    @include border-radius(2px);
		    @include transition(0.2s);
		    border: none;
		}
		input[type="submit"]:hover {
    		background: $primary-color2;
		}
	}
}

section.contact-section3 {
	padding: 80px 0;
	.contact-box {
		padding-top: 10px;
		text-align: center;
	    .contact-info {
    		padding-bottom: 20px;
    		p {
    			margin-bottom: 10px;
    			text-align: center;
    			color: $title-color;
    			font-size: 20px;
    			i {
    				color: $primary-color2;
    				font-size: 30px;
    				display: block;
    				margin-bottom: 12px;
    			}
    		}
	    }
	}
    #contact-form {
    	padding-top: 45px;
		margin: 0 0 30px;
		h2 {
			padding-bottom: 14px;
			margin-bottom: 30px;
			position: relative;
			text-align: center;
		}
		h2:after {
	        content: '';
	        position: absolute;
	        bottom: -1px;
	        left: 50%;
	        margin-left: -35px;
	        width: 70px;
	        height: 1px;
	        background: #2d3034;
	    }
		label {
			display: block;
			color: #6c7a89;
			font-size: 18px;
			font-family: $font-default;
			font-weight: 300;
			margin: 0 0 15px;
		}
		input[type="text"],
		textarea {
			width: 100%;
			padding: 12px 20px;
			background: #f9fafb;
			color: #6c7a89;
			font-size: 18px;
			font-family: $font-default;
			font-weight: 300;
			line-height: 24px;
			outline: none;
			border: 1px solid #e4e2f4;
			margin: 0 0 24px;
			@include transition(0.2s);
			@include border-radius(2px);
		}
		textarea {
			height: 120px;
			margin-bottom: 24px;
		}
		input[type="submit"] {
			color: #fff;
		    font-size: 18px;
		    font-family: $font-default;
		    text-transform: uppercase;
		    padding: 11px 38px;
		    background: $primary-color;
		    font-weight: 400;
		    @include border-radius(2px);
		    @include transition(0.2s);
		    border: none;
		}
		input[type="submit"]:hover {
    		background: $primary-color2;
		}
	}
}

section.contact-section4 {
	.contact-box {
		padding: 100px 0;
		@include retina('../upload/banners/ban4.jpg', 2, cover, fixed center center no-repeat);
	}
	.contact-info {
		p {
			color: #cccccc;
			font-weight: 400;
			margin-bottom: 5px;
			line-height: 40px;
			i {
				float: left;
				display: inline-block;
				width: 30px;
				height: 40px;
				text-align: center;
				font-size: 40px;
				line-height: 40px;
				color: $primary-color;
				margin-right: 20px;
				display: inline-block;
			}
		}
	}
	ul.social-icons {
		@extend .reset-elem;
		margin-top: 20px;
		li {
			display: inline-block;
			margin-right: 8px;
			a {
				color: #fff;
				width: 50px;
				height: 50px;
				@include border-radius(50%);
				line-height: 50px;
				text-align: center;
				background: transparent;
				font-size: 20px;
			}
			a.facebook {
				background: #3c43d4;
			}
			a.twitter {
				background: #3c84d4;
			}
			a.linkedin {
				background: #3c63d4;
			}
			a.instagram {
				background: #b64e9c;
			}
			a.youtube {
				background: #ea4040;
			}
			a:hover {
				opacity: 0.7;
			}
		}
	}
	form.join-newsletter {
        input[type="text"] {
            padding: 12px 20px;
            border: 1px solid transparent;
            outline: none;
            background: #fff;
            @include border-radius(3px);
            width: 100%;
            color: #959aa1;
            font-size: 18px;
            font-family: $font-default;
            font-weight: 300;
            margin: 0 0 20px;
            margin-right: 25px;
        }
        input[type="submit"] {
            color: #fff;
            font-size: 18px;
            font-family: $font-default;
            text-transform: uppercase;
            padding: 13px 30px 12px;
            background: $primary-color;
            font-weight: 400;
            @include border-radius(2px);
            @include transition(0.2s);
            @include box-shadow(0 0 25px rgba(0,0,0,0.10));
            outline: none;
            border: none;
        }
        input[type="submit"]:hover {
            background: $primary-color2;
        }
    }
}
