
/*------------------------------------------------- */
/* =  countdown section */
/*------------------------------------------------- */

section.countdown-section {
	padding: 80px 0;
	background: #f9fafb url('../images/dev8.png') center center no-repeat;
	text-align: center;
	h2 {
		color: #6c7a89;
		margin-bottom: 20px;
		font-weight: 300;
	}
	.inner-countdown {
		#clock {
			margin-bottom: 20px;
		}
		.comming-part {
			span, p {
				display: inline-block;
				color: $primary-color2;
				font-size: 48px;
				font-family: $font-default;
				font-weight: 300;
			}
		}
	}
}