
/*------------------------------------------------- */
/* =  Event Promo section */
/*------------------------------------------------- */

section.event-promo-section {
	@include retina('../upload/banners/1.jpg', 2, cover, center center no-repeat);
	display: flex;
	align-items: center;
	.event-center {
		width: 100%;
		h1 {
			color: #fff;
			font-weight: 300;
			font-size: 72px;
			line-height: 82px;
			margin: 0;
		}
		.event-date {
			text-align: right;
			border-left: 1px solid #ffffff;
			margin-top: 10px;
			p {
				color: #e4e2f4;
				font-size: 30px;
				line-height: 38px;
				font-family: $font-alternative;
				font-style: italic;
				span {
					display: block;
					color: #ffffff;
					font-family: $font-default;
					font-size: 72px;
					font-style: normal;
					font-weight: 300;
					line-height: 72px;
				}
			}
		}
	}
}

section.promo-banner-section {
	@include retina('../upload/banners/ban1.jpg', 2, cover, center center no-repeat);
	padding: 200px 0;
	text-align: center;
	.promo-banner-box {
		span {
			display: inline-block;
			@extend .heading2;
			color: #e4e2f4;
			font-weight: 300;
		}
		h1 {
			color: #fff;
			font-weight: 300;
			font-size: 72px;
			line-height: 82px;
		}
	}
}