
/*------------------------------------------------- */
/* =  event banner section */
/*------------------------------------------------- */

section.event-banner-section {
    padding: 100px 0;
    background: url('../images/dev5.png');
    h1 {
        color: #fff;
        padding-bottom: 25px;
        position: relative;
    }
    h1:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 70px;
        height: 1px;
        background: #fff;
    }
    p {
        color: #e4e2f4;
    }
    .button-banner-box {
        text-align: right;
        padding-top: 40px;
        a {
            padding: 11px 45px;
        }
        a:hover {
            background: #fff;
            color: $primary-color2;
        }
    }
    .subscribe-banner-box {
        .title-section {
            margin-bottom: 40px;
        }
        form.subscribe {
            text-align: center;
            input[type="text"] {
                padding: 12px 20px;
                border: 1px solid transparent;
                outline: none;
                background: #fff;
                @include border-radius(3px);
                min-width: 370px;
                color: #959aa1;
                font-size: 18px;
                font-family: $font-default;
                font-weight: 300;
                margin: 0 0 20px;
                margin-right: 25px;
            }
            input[type="submit"] {
                color: #fff;
                font-size: 18px;
                font-family: $font-default;
                text-transform: uppercase;
                padding: 13px 30px 12px;
                background: $primary-color;
                font-weight: 400;
                @include border-radius(2px);
                @include transition(0.2s);
                @include box-shadow(0 0 25px rgba(0,0,0,0.10));
                outline: none;
                border: none;
            }
            input[type="submit"]:hover {
                background: #fff;
                color: $primary-color2;
            }
        }
    }
}

section.event-banner-section2 {
	background: #fff;
    border-bottom: 1px solid #ecebf3;
    div.inner-event-banner {
        padding: 80px 0;
        border-top: 1px solid #ecebf3;
    }
	h1 {
        color: $primary-color2;
        padding-bottom: 25px;
        position: relative;
    }
    h1:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 70px;
        height: 1px;
        background: $primary-color2;
    }
    .button-banner-box {
    	text-align: right;
    	padding-top: 40px;
    	a {
    		padding: 11px 45px;
    	}
    }
}