

/*------------------------------------------------- */
/* =  Footer */
/*------------------------------------------------- */

footer {
	padding-top: 76px;
	background: #2d3034;
	.up-footer {
		.footer-widget {
			margin-bottom: 60px;
			h2 {
				color: #fff;
				margin-bottom: 12px;
			}
			p {
				color: #798593;
				margin-bottom: 24px;
			}
			ul.social-icons {
				@extend .reset-elem;
				li {
					display: inline-block;
					margin-right: 8px;
					a {
						color: #fff;
						width: 50px;
						height: 50px;
						@include border-radius(50%);
						line-height: 50px;
						text-align: center;
						background: transparent;
						font-size: 20px;
					}
					a.facebook {
						background: #3c43d4;
					}
					a.twitter {
						background: #3c84d4;
					}
					a.linkedin {
						background: #3c63d4;
					}
					a.instagram {
						background: #b64e9c;
					}
					a.youtube {
						background: #ea4040;
					}
					a:hover {
						opacity: 0.7;
					}
				}
			}
			form.subscribe {
				margin: 0;
				input[type="text"] {
					padding: 12px 20px;
					border: none;
					outline: none;
					background: #fff;
					@include border-radius(3px);
					width: 100%;
					color: #959aa1;
					font-size: 18px;
					font-family: $font-default;
					font-weight: 300;
					margin: 0 0 20px;
				}
				input[type="submit"] {
					color: #fff;
				    font-size: 18px;
				    font-family: $font-default;
				    text-transform: uppercase;
				    padding: 13px 30px 12px;
				    background: $primary-color;
				    font-weight: 400;
				    @include border-radius(2px);
				    @include transition(0.2s);
				    @include box-shadow(0 0 25px rgba(0,0,0,0.30));
				    outline: none;
				    border: none;
				}
				input[type="submit"]:hover {
					color: $primary-color2;
				    background: #fff;
				}
			}
		}
	}
	p.copyright-line {
		text-align: center;
		padding: 30px 0;
		color: #798593;
		border-top: 1px solid #444444;
		margin-bottom: 0;
	}
}

footer.second-style {
	padding-top: 50px;
	text-align: center;
	background: #2a2a2a;
	ul.social-icons {
		@extend .reset-elem;
		margin-bottom: 20px;
		li {
			display: inline-block;
			margin-right: 8px;
			a {
				color: #fff;
				width: 50px;
				height: 50px;
				@include border-radius(50%);
				line-height: 50px;
				text-align: center;
				background: transparent;
				font-size: 20px;
			}
			a.facebook {
				background: #3c43d4;
			}
			a.twitter {
				background: #3c84d4;
			}
			a.linkedin {
				background: #3c63d4;
			}
			a.instagram {
				background: #b64e9c;
			}
			a.youtube {
				background: #ea4040;
			}
			a:hover {
				opacity: 0.7;
			}
		}
	}
	p.copyright-line {
		border-top: none;
	}
}

footer.third-style {
	padding: 0;
	background: #f9fafb;
	border-top: 1px solid #ecebf3;
	p.copyright-line {
		border-top: none;
	}
}

