
 
/*-------------------------------------------------- */
/* 1. Isotope filtering */
/*------------------------------------------------- */
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope, .isotope .isotope-item {
    // change duration value to whatever you like
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

/*-----------------------------------------------------------------------------
 *
 *KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT
 *
 *Screen Stylesheet
 *
 *version:    1.0
 *date:       07/27/11
 *author:     themepunch
 *email:      support@themepunch.com
 *website:    http://www.themepunch.com */
/*----------------------------------------------------------------------------- */

.boxedcontainer {
    max-width: 1170px;
    margin: auto;
    padding: 0px 30px;
}

/*********************************************
 *    -   SETTINGS FOR BANNER CONTAINERS  -
 ********************************************* */

.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.tp-banner {
    width: 100%;
    position: relative;
}

.tp-banner-fullscreen-container {
    width: 100%;
    position: relative;
    padding: 0;
}

/*------------------------------------------------- */
/* =  General */
/*------------------------------------------------- */

#container {
    overflow: hidden;
}

a {
    @extend .anchor;
}


.title-section {
    margin-bottom: 40px;
    span {
        display: block;
        color: #6c7a89;
        font-size: 24px;
        font-family: $font-default;
        font-weight: 300;
        margin: 0 0 10px;
    }
    span.italic-style {
        font-size: 18px;
        font-family: $font-alternative;
        font-weight: 400;
        font-style: italic;
    }
    h1 {
        padding-bottom: 25px;
        position: relative;
    }
    h1:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 70px;
        height: 1px;
        background: #2d3034;
    }
}

.title-section.center {
    h1, span {
        text-align: center;
    }
    h1:after {
        left: 50%;
        margin-left: -35px;
    }
}

.title-section.white-style {
    h1 {
        color: #ffffff;
    }
    h1:after {
        background: #fff;
    }
    p, span {
        color: #cccccc;
    }
}

a.default-button {
    color: #fff;
    font-size: 18px;
    font-family: $font-default;
    text-transform: uppercase;
    padding: 11px 38px;
    background: $primary-color;
    font-weight: 400;
    @include border-radius(2px);
    @include transition(0.2s);
    @include box-shadow(0 0 25px rgba(0,0,0,0.30));
}

a.default-button:hover {
    background: $primary-color2;
}

a.button-one {
    color: #000;
    font-size: 12px;
    font-family: $font-default;
    text-transform: uppercase;
    padding: 12px 45px;
    background: $primary-color;
    font-weight: 500;
    @include border-radius(24px);
    @include transition(0.2s);
    margin: 0;
}

a.button-one:hover {
    color: #fff;
    background: $third-color;
}

.center-button {
    text-align: center;
}

a.button-two {
    color: $second-color;
    font-size: 13px;
    font-family: $font-default;
    font-weight: 500;
    padding: 13px 20px 10px;
    text-transform: uppercase;
    border: 2px solid $second-color;
    @include border-radius(25px);
}
a.button-two:hover {
    background: $second-color;
    color: #fff;
}

button.mfp-close, button.mfp-arrow, a.zoom {
    outline: none;
}

section.page-banner-section {
    padding: 120px 0 70px;
    margin-top: 74px;
    text-align: center;
    @include retina('../upload/banners/ban2.jpg', 2, cover, center center no-repeat);
    h1 {
        font-size: 48px;
        line-height: 60px;
        color: #ffffff;
        margin-bottom: 4px;
    }
    p {
        color: #bdbdbd;
        font-size: 20px;
        font-family: $font-default;
        margin-bottom: 0;
    }
}
