
/*------------------------------------------------- */
/* =  Header
 *------------------------------------------------- */

.navbar {
    padding: 0 15px;
    @include transition(0.2s);
    border-bottom: none;
    width: 100%;
    z-index: 999999;
    background: transparent !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    a.navbar-brand {
        padding-top: 10px;
        float: none;
        img {
            margin-bottom: 5px;
        }
    }
}

header {
    padding: 0;
    z-index: 99999;
    position: relative;
}

header.second-style {
    min-height: 90px;
    .navbar {
        padding: 0;
        @include transition(0.2s);
        border-bottom: 1px solid #e4e2f4;
        width: 100%;
        z-index: 999999;
        background: #fff !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        a.navbar-brand {
            padding-top: 10px;
            float: none;
            img {
                margin-bottom: 5px;
            }
        }
    }
    .navbar-nav {
        @include transition(0.2s);
        padding: 0;
        margin-bottom: -1px;
        > li > a {
            color: #2d3034 !important;
            padding: 40px 22px !important;
        }
        > li.active > a:before {
            bottom: -1px;
        }
    }
}

header.third-style {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .container {
        position: relative;
    }
    .navbar {
        padding: 0;
        @include transition(0.2s);
        border-bottom: 1px solid #999999;
        background: transparent !important;
        z-index: 999999;
        position: relative;
        a.navbar-brand {
            padding-top: 10px;
            float: none;
            img {
                margin-bottom: 5px;
            }
        }
    }
    .navbar-nav {
        @include transition(0.2s);
        padding: 0;
        margin-bottom: -1px;
        > li > a {
            padding: 40px 22px !important;
        }
        > li.active > a:before {
            bottom: -1px;
        }
    }
}

header.active {
    padding-bottom: 90px;
    .navbar {
        background: #232323 !important;
    }
}

header.active.third-style {
    padding-bottom: 0px;
    background: #232323 !important;
    @include transition(0.2s);
    navbar {
        background: transparent !important;
    }
}

header.second-style.active {
    .navbar {
        background: #fff !important;
    }
}

.navbar-nav {
    @include transition(0.2s);
    > li > a {
        color: #fff !important;
        font-size: 17px;
        font-weight: 400 !important;
        font-family: $font-default;
        @include transition(0.2s);
        padding: 40px 22px !important;
        border-bottom: 1px solid transparent;
        position: relative;
        i {
            font-size: 13px;
            margin-left: 10px;
        }
    }
    > li.active > a:before {
        content: '';
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
        height: 1px;
        background: $primary-color2;
        @include transition(0.2s);
    }
    > li:hover > a {
        opacity: 0.7;
    }
    > li.active:hover > a:before {
        bottom: -2px;
    }
    li.drop-link {
        position: relative;
    }
}

.navbar-collapse {
    position: relative;
}

.dropdown {
    @extend .reset-elem;
    position: absolute;
    border-top: 2px solid $primary-color2;
    top: 100%;
    left: 0;
    background: #fff;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
    @include transition(0.15s);
    > li {
        position: relative;
        display: block;
        border-bottom: 1px solid #e3e1f3;
        a {
            display: block;
            padding: 14px 20px;
            color: #6c7a89;
            font-size: 14px;
            font-weight: 400;
            font-family: $font-default;
        }
        > a:hover {
            background: #f2f4f8;
            color: $primary-color2;
        }
        .dropdown.level2 {
            top: -2px;
            left: 100%;
            border-left: 1px solid #292929;
        }
    }
}
li:hover > .dropdown {
    visibility: visible;
    opacity: 1;
    margin-top: -1px;
}