
/*------------------------------------------------- */
/* =  News section */
/*------------------------------------------------- */


section.blog-section {
	padding: 100px 0;
	.blog-box {
		.blog-post {
			padding-bottom: 35px;
			margin-bottom: 50px;
			border-bottom: 1px solid #efeef6;
			img {
				width: 100%;
				height: auto;
				margin-bottom: 25px;
				@include border-radius(6px);
			}
			span.date-comments {
				display: inline-block;
				@extend .paragraph;
				margin-bottom: 5px;
			}
			h2 {
				margin-bottom: 10px;
				a {
					color: $title-color;
				}
				a:hover {
					color: $primary-color;
				}
			}
			a.continue-read {
				color: $primary-color2;
				font-size: 18px;
				font-family: $font-alternative;
				font-style: italic;
				i {
					font-size: 13px;
					margin-left: 4px;
					opacity: 0;
					@include transition(0.2s);
				}
			}
			a.continue-read:hover {
				text-decoration: underline !important;
				i {
					margin-left: 10px;
					opacity: 1;
				}
			}
			ul.post-tags {
				@extend .reset-elem;
				text-align: right;
				li {
					display: inline-block;
					@extend .paragraph;
					font-family: $font-alternative;
					font-style: italic;
					font-weight: 400;
					color: #a099dc;
					margin-bottom: 0;
					a {
						color: primary-color2;
					}
					a:hover {
						text-decoration: underline !important;
					}
				}
			}
			p {
				margin-bottom: 25px;
			}
		}
	}
	.blog-box.iso-call {
		margin-left: -15px;
		margin-right: -15px;
		.blog-post {
			width: 33.33333%;
			padding: 15px 15px 35px;
			margin-bottom: 30px;
			h2 {
				margin-bottom: 20px;
			}
		}
	}
	.blog-box.iso-call.with-sidebar {
		margin-left: -15px;
		margin-right: -15px;
		.blog-post {
			width: 50%;
			padding: 0 15px;
			border-bottom: none;
			.post-content {
				padding: 30px;
				background: #fff;
				border: 1px solid #e4e2f4;
				@include border-bottom-left-radius(4px);
				@include border-bottom-right-radius(4px);
			}
			h2 {
				margin-bottom: 10px;
			}
			img {
				margin-bottom: 0;
				@include border-bottom-left-radius(0px);
				@include border-bottom-right-radius(0px);
			}
			p {
				margin-bottom: 0;
			}
		}
		.blog-post.quote-post {
			blockquote {
				padding: 50px 30px;
				background: $primary-color2;
				@include border-radius(3px);
				position: relative;
				span {
					color: #d8d6ed;
					margin-bottom: 10px;
				}
				h2, p {
					color: #fff;
				}
				h2 {
					font-family: $font-alternative;
					font-style: italic;
					font-weight: 400;
					line-height: 36px;
					margin-bottom: 12px;
				}
				p {
					margin-bottom: 0;
				}
			}
			blockquote:before {
				position: absolute;
				content: '\f10d';
				font-size: 114px;
				font-family: 'FontAwesome';
				top: 2px;
				left: 30px;
				color: rgba(255,255,255,0.15);
			}
		}
		.blog-post.link-post {
			div {
				padding: 50px 30px;
				background: $primary-color;
				@include border-radius(3px);
				position: relative;
				span {
					color: #f6f8fa;
					margin-bottom: 5px;
				}
				h2 a {
					color: #fff;
				}
				h2 {
					line-height: 36px;
					margin-bottom: 0px;
					position: relative;
					z-index: 2;
				}
			}
			div:before {
				position: absolute;
				content: '\f0c1';
				font-size: 114px;
				font-family: 'FontAwesome';
				top: 2px;
				left: 30px;
				color: rgba(255,255,255,0.15);
			}
		}
		.blog-post.text-post {
			div.post-content {
				padding: 50px 30px;
				@include border-radius(3px);
				position: relative;
				h2,span,p {
					position: relative;
					z-index: 2;
				}
			}
			div.post-content:before {
				position: absolute;
				content: '\f031';
				font-size: 114px;
				font-family: 'FontAwesome';
				top: 2px;
				left: 30px;
				color: rgba(0,0,0,0.05);
			}
		}
	}
	.center-area {
		a {
			@include box-shadow(0 10px 15px #efefef);
		}
	}
}

.pagination-box {
	margin-bottom: 20px;
	overflow: hidden;
	a.prev,
	a.next {
	    @extend .paragraph;
	    margin-bottom: 0;
	    margin-top: -30px;
	    i {
	    	font-size: 14px;
	    }
	}
	a.prev i {
		margin-right: 10px;
	}
	a.next i {
		margin-left: 10px;
	}
	a.prev:hover,
	a.next:hover {
	    color: $primary-color;
	}
	a.prev {
	    float: left;
	}
	a.next {
	    float: right;
	}
	ul.page-list {
		@extend .reset-elem;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 3px;
			a {
				min-width: 30px;
				height: 35px;
				@include border-radius(2px);
				border: 1px solid transparent;
				text-align: center;
				color: #6c7a89;
				font-size: 18px;
				font-family: $font-default;
				font-weight: 300;
				line-height: 34px;
			}
			a:hover,
			a.active {
				color: $primary-color2;
				border: 1px solid #e4e2f4;
			}
		}
	}
}

/*------------------------------------------------- */
/* =  Sidebar */
/*------------------------------------------------- */

.sidebar {
	padding-left: 30px;
	margin-bottom: 40px;
	.widget {
		margin-bottom: 40px;
		> h2 {
			padding-bottom: 18px;
			margin-bottom: 30px;
			position: relative;
		}
	    > h2:after {
	        content: '';
	        position: absolute;
	        bottom: -1px;
	        left: 0;
	        width: 70px;
	        height: 1px;
	        background: #2d3034;
	    }
	}
	.search-widget input[type="search"] {
		margin: 0;
		width: 100%;
		padding: 13px 20px;
		color: #6c7a89;
		font-size: 18px;
		font-family: $font-default;
		font-weight: 300;
		background: #f9fafb;
		outline: none;
		border: 1px solid #e4e2f4;
		@include transition(0.2s);
		@include border-radius(3px);
	}
	.search-widget button {
		background: transparent;
		border: none;
		float: right;
		margin-top: -38px;
		margin-right: 15px;
		position: relative;
		z-index: 2;
	}
	.search-widget button i {
		color: #cfcbed;
		font-size: 20px;
	}
	.text-widget {
		h2 {
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 0;
		}
	}
	.category-widget {
		ul {
			@extend .reset-elem;
			li {
				list-style: none;
				margin-bottom: 10px;
				a {
					color: #2d3034;
					font-size: 18px;
					font-family: $font-default;
					font-weight: 300;
					position: relative;
					span {
						color: #949ea9;
					}
				}
				a:before {
					content: '\f105';
					font-family: 'FontAwesome';
					color: #949ea9;
					font-size: 15px;
					margin-right: 12px;
				}
				a:hover {
					color: $primary-color;
				}
			}
			li:last-child {
				margin-bottom: 0px;
			}
		}
	}
	.instagram-widget {
		ul.instagram-list {
			@extend .reset-elem;
			overflow: hidden;
			li {
				list-style: none;
				float: left;
				margin-right: 14px;
				margin-bottom: 14px;
				a {
					img {
						width: 80px;
						height: auto;
						@include border-radius(3px);
					}
				}
			}
		}
	}
	.popular-widget {
		ul.popular-list {
			@extend .reset-elem;
			li {
				list-style: none;
				overflow-y: hidden;
				margin-bottom: 20px;
				img {
					float: left;
					max-width: 70px;
					@include border-radius(3px);
				}
				.side-content {
					margin-left: 100px;
					padding-top: 1px;
					h2 {
						font-size: 18px;
						line-height: 22px;
						margin-bottom: 0px;
						a {
							color: $title-color;
						}
						a:hover {
							color: $primary-color2;
						}
					}
					span {
						display: inline-block;
						margin: 0;
						color: #6c7a89;
						font-size: 14px;
						font-family: $font-default;
						font-weight: 300;
					}
				}
			}
			li:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.sidebar.left-side {
	padding-right: 30px;
	padding-left: 0px;
}

