
/*------------------------------------------------- */
/* =  pricing section */
/*------------------------------------------------- */

section.pricing-section {
	padding: 90px 0;
	background: #f9fafb;
	border-top: 1px solid #ebe9f4;
	border-bottom: 1px solid #ebe9f4;
	.pricing-box {
		padding-top: 100px;
		margin-top: -90px;
		background: url('../images/dev4.png') center top no-repeat;
		.table-box {
			padding: 35px 55px 60px;
			background: #fff;
			margin-bottom: 30px;
			border: 1px solid #e4e2f4;
			@include border-radius(5px);
			@include transition(0.2s);
			p {
				text-transform: uppercase;
				color: $primary-color2;
				margin-bottom: 10px;
				line-height: 60px;
				span {
					font-size: 60px;
				}
			}
			ul.pricing-list {
				@extend .reset-elem;
				margin-bottom: 30px;
				li {
					display: block;
					color: #6c7a89;
					font-size: 18px;
					font-family: $font-alternative;
					font-style: italic;
					line-height: 30px;
				}
				li:before {
					display: inline-block;
					content: '';
					width: 5px;
					height: 11px;
					border-bottom: 1px solid #6c7a89;
					border-right: 1px solid #6c7a89;
					margin-right: 16px;
					margin-left: 3px;
					@include rotate(30deg);
				}
			}
			a.default-button {
				width: 100%;
				text-align: center;
				@include box-shadow(0 0 15px #e1e1e1);
			}
		}
		.table-box.enterprise {
			background: url('../images/dev5.png');
			h2, p, ul.pricing-list li {
				color: #fff;
			}
			ul.pricing-list li:before {
				border-bottom: 1px solid #ffffff;
				border-right: 1px solid #ffffff;
			}
			a.default-button {
				@include box-shadow(0 0 15px rgba(0,0,0,0.15));
			}
			a.default-button:hover {
				background: #fff;
				color: $primary-color2;
			}
		}
		.table-box:hover {
			@include box-shadow(0 15px 45px #efefef);
		}
	}
}

section.pricing-section.without-back {
	background: #fff;
	.pricing-box {
		background: none;
	}
}

section.pricing-section2 {
	padding: 90px 0;
	@include retina('../upload/banners/ban4.jpg', 2, cover, center center no-repeat);
	.pricing-box {
		padding-top: 20px;
		.table-box {
			display: flex;
			margin-bottom: 60px;
			min-height: 330px;
			align-items: stretch;
			align-content: center;
			.price-tab {
				width: 45%;
				padding: 20px 10px;
				background: url('../images/dev5.png');
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				@include border-top-left-radius(6px);
				@include border-bottom-left-radius(6px);
				h2 {
					color: #fff;
					margin-bottom: 6px;
				}
				p {
					color: #b1a8ff;
					margin-bottom: 30px;
					span {
						font-size: 60px;
						color: #fff;
						display: block;
						line-height: 64px;
					}
				}
				a:hover {
					background: #fff;
					color: $primary-color2;
				}
			}
			.list-tab {
				width: 55%;
				padding: 40px 30px;
				background: #333333;
				@include border-top-right-radius(6px);
				@include border-bottom-right-radius(6px);
				ul.pricing-list {
					@extend .reset-elem;
					li {
						display: block;
						color: #fff;
						font-size: 18px;
						font-family: $font-default;
						font-weight: 300;
						line-height: 30px;
					}
					li:before {
						display: inline-block;
						content: '';
						width: 5px;
						height: 11px;
						border-bottom: 1px solid $primary-color;
						border-right: 1px solid $primary-color;
						margin-right: 16px;
						margin-left: 3px;
						@include rotate(30deg);
					}
				}
			}
		}
	}
	.center-area {
		p {
			max-width: 960px;
			margin: 0 auto;
			color: #cccccc;
		}
	}
}

section.pricing-section3 {
	padding: 100px 0;
	@include retina('../upload/banners/ban2.jpg', 2, cover, center center no-repeat);
	.table-box {
		padding: 35px 20px 20px;
		background: #fff;
		margin-bottom: 30px;
		@include border-radius(5px);
		@include transition(0.2s);
		h2 {
			color: $primary-color2;
			padding: 0 10px;
		}
		p {
			text-transform: uppercase;
			color: $title-color;
			margin-bottom: 10px;
			line-height: 60px;
			padding: 0 10px;
			letter-spacing: -1px;
			span {
				font-size: 60px;
			}
		}
		ul.pricing-list {
			@extend .reset-elem;
			margin-bottom: 30px;
			padding: 0 10px;
			li {
				display: block;
				color: #6c7a89;
				font-size: 18px;
				font-family: $font-alternative;
				font-style: italic;
				line-height: 30px;
			}
			li:before {
				display: inline-block;
				content: '';
				width: 5px;
				height: 11px;
				border-bottom: 1px solid $primary-color;
				border-right: 1px solid $primary-color;
				margin-right: 16px;
				margin-left: 3px;
				@include rotate(30deg);
			}
		}
		a.default-button {
			width: 100%;
			text-align: center;
			@include box-shadow(0 0 15px #e1e1e1);
		}
	}
}