
/*------------------------------------------------- */
/* =  reg-sub section */
/*------------------------------------------------- */

section.reg-sub-section {
	margin-top: -200px;
	.inner-reg-sub {
		max-width: 1400px;
		margin: 0 auto;
		overflow: hidden;
		padding-bottom: 45px;
		.register-box {
			padding: 100px 130px;
			text-align: center;
			float: left;
			width: 50%;
			margin-right: -30px;
			@include retina('../images/dev2.png', 2);
			@include border-radius(6px);
			p {
				font-size: 23px;
				color: #fff;
				line-height: 36px;
				margin-bottom: 25px;
				span {
					font-family: $font-alternative;
					font-style: italic;
				}
			}

			a {
			    color: $primary-color2;
			    font-size: 18px;
			    font-family: $font-default;
			    text-transform: uppercase;
			    padding: 13px 60px 11px;
			    background: #fff;
			    font-weight: 400;
			    @include border-radius(2px);
			    @include transition(0.2s);
			    @include box-shadow(0 3px 20px rgba(0,0,0,0.18));
			}

			a:hover {
				color: #fff;
			    background: $primary-color2;
			}
		}
		.subscribe-box {
			padding: 100px 130px;
			text-align: center;
			float: right;
			margin-top: 10px;
			margin-left: -30px;
			margin-right: 30px;
			width: 50%;
			@include retina('../images/dev3.png', 2);
			@include border-radius(6px);
			@include box-shadow(0 10px 45px rgba(0,0,0,0.18));
			p {
				font-size: 24px;
				color: #fff;
				line-height: 36px;
			}
			span {
				display: block;
				font-size: 18px;
				color: #e4e2f4;
				font-family: $font-alternative;
				font-style: italic;
				line-height: 32px;
				margin: 0 0 25px;
			}
			form.subscribe {
				margin: 0;
				input[type="text"] {
					padding: 12px 20px;
					border: none;
					outline: none;
					background: #fff;
					@include border-radius(3px);
					width: 270px;
					color: #959aa1;
					font-size: 18px;
					font-family: $font-default;
					font-weight: 300;
					margin: 0;
					margin-right: 3px;
				}
				input[type="submit"] {
					color: #fff;
				    font-size: 18px;
				    font-family: $font-default;
				    text-transform: uppercase;
				    padding: 13px 30px 12px;
				    background: $primary-color;
				    font-weight: 400;
				    @include border-radius(2px);
				    @include transition(0.2s);
				    @include box-shadow(0 0 25px rgba(0,0,0,0.30));
				    outline: none;
				    border: none;
				}
				input[type="submit"]:hover {
					color: $primary-color2;
				    background: #fff;
				}
			}
		}
	}
}

section.register-section {
	padding-top: 220px;
	position: relative;
	background: #f9fafb;
	.title-section h1:after {
		display: none !important;
	}
	.background-part {
		width: 100%;
		height: 64%;
		top: 0;
		left: 0;
		position: absolute;
		@include retina('../upload/banners/ban5.jpg', 2, cover, center center no-repeat);
	}
	.container {
		position: relative;
		z-index: 2;
	}
	.register-box {
		padding: 54px 70px 60px;
		background: #fff;
		@include box-shadow(0 15px 20px rgba(0,0,0,0.04));
	    #register-form {
			margin: 0;
			label {
				display: block;
				color: #6c7a89;
				font-size: 18px;
				font-family: $font-default;
				font-weight: 300;
				margin: 0 0 15px;
			}
			input[type="text"],
			select {
				width: 100%;
				padding: 12px 20px;
				background: #f9fafb;
				color: #6c7a89;
				font-size: 18px;
				font-family: $font-default;
				font-weight: 300;
				line-height: 24px;
				outline: none;
				border: 1px solid #e4e2f4;
				margin: 0 0 24px;
				@include transition(0.2s);
				@include border-radius(2px);
			}
			select {
				height: 54px;
			}
			.subcribe-bx {
				margin: 30px 0 40px;
				h2 {
					margin-left: 30px;
					font-size: 18px;
					color: $primary-color2;
				}
				input[type="checkbox"] {
					margin-right: 11px;
				}
				span {
					@extend .paragraph;
					maring-bottom: 0;
					letter-spacing: -0.4px;
				}
			}
			input[type="submit"] {
				color: #fff;
			    font-size: 18px;
			    font-family: $font-default;
			    text-transform: uppercase;
			    padding: 11px 38px;
			    background: $primary-color;
			    font-weight: 400;
			    @include border-radius(2px);
			    @include transition(0.2s);
			    border: none;
			}
			input[type="submit"]:hover {
	    		background: $primary-color2;
			}
		}
	}
}