
/*-------------------------------------------------*/
/* =  Responsive Part
/*-------------------------------------------------*/

@media (max-width: 1450px) {
	.paragraph, p,
	a.default-button,
	section.reg-sub-section .inner-reg-sub .register-box a,
	section.reg-sub-section .inner-reg-sub .subscribe-box form.subscribe input[type="submit"],
	section.reg-sub-section .inner-reg-sub .subscribe-box form.subscribe input[type="text"],
	section.services-section .services-box .services-post .services-post-content ul.service-list li,
	section.speaking-section .speakers-box .speaker-post .speaker-content span, 
	section.speaking-section3 .speakers-box .speaker-post .speaker-content span,
	section.pricing-section .pricing-box .table-box ul.pricing-list li,
	section.contact-section .contact-post .contact-post-content span,
	section.contact-section .contact-post .contact-post-content p,
	footer .up-footer .footer-widget form.subscribe input[type="text"],
	footer .up-footer .footer-widget form.subscribe input[type="submit"],
	section.speaking-section2 .speakers-box .speaker-post .speaker-content span,
	section.event-banner-section .subscribe-banner-box form.subscribe input[type="text"],
	section.event-banner-section .subscribe-banner-box form.subscribe input[type="submit"],
	section.pricing-section3 .table-box ul.pricing-list li,
	section.contact-section4 form.join-newsletter input[type="text"],
	section.contact-section4 form.join-newsletter input[type="submit"],
	section.register-section .register-box #register-form label,
	section.register-section .register-box #register-form input[type="text"],
	section.register-section .register-box #register-form select,
	section.register-section .register-box #register-form input[type="submit"],
	section.subscribe-section .subscribe-box input[type="text"],
	section.subscribe-section .subscribe-box input[type="submit"],
	.title-section span.italic-style,
	section.schedule-section2 .schedule-box .schedule-tabs .nav-tabs a.nav-item,
	section.schedule-section3 .schedule-box .schedule-block .schedule-content ul.schedule-list li,
	section.pricing-section2 .pricing-box .table-box .list-tab ul.pricing-list li,
	section.blog-section .blog-box .blog-post a.continue-read,
	.sidebar .popular-widget ul.popular-list li .side-content h2,
	.sidebar .category-widget ul li a,
	.sidebar .search-widget input[type="search"],
	.comment-area-box > ul li .comment-box .comment-content h4,
	.comment-area-box > ul li .comment-box .comment-content a,
	.contact-form-box #comment-form input[type="text"], .contact-form-box #comment-form textarea,
	.contact-form-box #comment-form input[type="submit"],
	section.clients-section2 .client-box ul.client-list li .client-cont span,
	section.contact-section2 .contact-box .places-box .places-post a,
	section.contact-section2 #contact-form label,
	section.contact-section2 #contact-form input[type="text"], section.contact-section2 #contact-form textarea,
	section.contact-section2 #contact-form input[type="submit"],
	section.contact-section2 .contact-box .contact-info ul.social-icons li a,
	section.contact-section3 #contact-form input[type="text"], section.contact-section3 #contact-form textarea,
	section.contact-section3 #contact-form input[type="submit"] {
		font-size: 15px;
	}
	.heading2, h2,
	section.contact-section .contact-info .inner-contact-info p,
	.collapse-box .panel-default > .panel-heading a,
	.title-section span,
	section.speaking-single .single-box .single-content .single-data span {
		font-size: 20px;
	}
	.heading1, h1 {
		font-size: 36px;
		line-height: 44px;
	}
	section.pricing-section .pricing-box .table-box p span,
	section.pricing-section3 .table-box p span,
	section.pricing-section2 .pricing-box .table-box .price-tab p span {
		font-size: 50px;
	}
	.navbar-nav > li > a {
		font-size: 15px;
		padding-left: 16px !important;
		padding-right: 16px !important;
	}

	section.event-promo-section .event-center h1,
	section.promo-banner-section .promo-banner-box h1 {
		font-size: 60px;
		line-height: 72px;
	}
	section.event-promo-section .event-center .event-date p {
		font-size: 24px;
		span {
			font-size: 60px;
			line-height: 62px;
		}
	}
	section.reg-sub-section .inner-reg-sub {
		padding-left: 30px;
	}
	.sidebar .popular-widget ul.popular-list li .side-content span {
		font-size: 13px;
	}
	section.contact-section3 .contact-box .contact-info p {
		font-size: 18px;
	}
	section.reg-sub-section .inner-reg-sub .subscribe-box form.subscribe input[type="text"] {
		margin-bottom: 5px;
	}
}

@media (max-width: 1199px) {
	.navbar-nav > li > a {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	.navbar {
		a.default-button {
			padding: 10px 20px;
		}
	}
	section.reg-sub-section {
		.inner-reg-sub {
			.register-box,
			.subscribe-box {
				padding: 80px 40px;
			}
		}
	}
	section.services-section .services-box .services-post i {
		font-size: 50px;
	}
	section.services-section .services-box .services-post .services-post-content {
		margin-left: 70px;
	}
	ul.social-icons li {
		margin-bottom: 3px;
	}
	header.second-style .navbar-nav > li > a,
	header.third-style .navbar-nav > li > a {
		padding: 40px 15px !important;
	}
	.blog-section .title-section img {
		max-width: 100%;
	}
}

@media (max-width: 991px) {
	.navbar a.navbar-brand {
		padding-top: 15px;
	}
	.navbar {
		a.default-button {
			display: none;
		}
	}
	.navbar-collapse {
		background: $title-color !important;
		padding: 10px 0;
		max-height: 300px;
		overflow-y: scroll;
	}
	.navbar-dark .navbar-toggler {
		outline: none;
	}
	.navbar-toggle {
		margin-top: 20px;
	}
	.navbar-nav > li > a {
		padding: 5px 15px !important;
		font-size: 17px;
	}
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a.active {
		color: $primary-color !important;
	}
	.navbar-nav > li.active > a:before {
		display: none !important;
	}
	.dropdown {
		position: relative;
		width: 100%;
		top: initial;
		left: initial;
		margin-top: 0;
		background: transparent;
		border: none;
		opacity: 1;
		visibility: visible;
		padding-left: 10px;
		li {
			border: none;
			a {
				color: #fff;
				background: transparent !important;
				padding: 8px 15px;
			}
		}
	}
	header.second-style .navbar {
		padding: 20px 15px;
		.navbar-collapse {
			background: transparent !important;
		}
		.navbar-nav > li > a {
			padding: 5px 0 !important;
		}
		.dropdown {
			li {
				a {
					color: $text-color;
				}
			}
		}
	}
	header.third-style .navbar-nav > li > a {
		padding: 5px 15px !important;
	}
	section.reg-sub-section {
		margin-top: 0;
		padding-top: 100px;
		.inner-reg-sub {
			padding: 0 15px;
			.register-box {
				float: none;
				width: 100%;
				margin: 0 0 30px;
				padding: 80px 30px;
			}
			.subscribe-box {
				float: none;
				width: 100%;
				margin: 0;
				padding: 80px 30px;
			}
		}
	}
	section.event-banner-section .button-banner-box,
	section.event-banner-section2 .button-banner-box {
		text-align: left;
	}
	section.clients-section .client-box ul.client-list li,
	section.clients-section2 .client-box ul.client-list li, 
	section.clients-section3 .client-box ul.client-list li {
		width: 33.33333%;
	}
	section.contact-section .contact-info {
		margin-top: 20px;
	}
	section.agenda-section .schedule-box {
		padding: 0;
		margin-bottom: 50px;
	}
	section.contact-section4 ul.social-icons {
		margin-bottom: 40px;
	}
	section.speaking-section2 .title-section a.default-button {
		float: none;
		margin-bottom: 40px;
	}
	section.schedule-section3 .schedule-box .schedule-block .schedule-speakers {
		margin-top: 30px;
	}
	section.gallery-section ul.gallery-list li {
		width: 33.3333%;
	}
	.sidebar {
		padding-left: 0;
		padding-top: 50px;
	}
	section.blog-section .blog-box.iso-call .blog-post {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.comment-area-box ul.depth .comment-box {
		padding-left: 0;
	}
	ul.depth {
		padding-left: 0;
	}
	section.clients-section .client-box ul.client-list li,
	section.clients-section2 .client-box ul.client-list li, 
	section.clients-section3 .client-box ul.client-list li {
		width: 50%;
	}
	section.event-promo-section .event-center .event-date {
		text-align: center;
		border: none;
		p {
			font-size: 18px;
			span {
				font-size: 48px;
				line-height: 50px;
			}
		}
	}
	section.event-promo-section .event-center h1 {
		text-align: center;
	}
	section.about-section .video-box iframe {
		height: 300px;
	}
	section.contact-section .contact-info {
		margin-top: 0px;
		margin-bottom: -80px;
	}
	section.about-conference-section .images-box {
		text-align: center;
	}
	section.about-conference-section .images-box img:first-child {
		float: none;
		margin-bottom: 30px;
	}
	section.about-conference-section .images-box img:last-child {
		margin: 0;
	}
	.collapse-box .panel-default > .panel-heading + .panel-collapse > .panel-body {
		padding: 30px 15px;
	}
	section.agenda-section .schedule-box ul.schedule-list li {
		padding: 15px;
	}
	section.schedule-section2 .schedule-box .schedule-tabs .nav-tabs a.nav-item {
		padding: 10px;
		font-size: 13px;
		margin: 0 1px 0 0;
	}
	section.schedule-section2 .schedule-box .schedule-tabs .tab-content {
		padding: 40px 30px;
		.schedule-post {
			margin-bottom: 30px;
		}
		.schedule-post.time-off-item {
			padding-top: 0;
		}
	}
	section.schedule-section2 .schedule-box .schedule-tabs .tab-content .schedule-post:before,
	section.schedule-section2 .schedule-box .schedule-tabs .tab-content .schedule-post:after {
		display: none;
	}
	section.schedule-section3 .schedule-box .schedule-block .schedule-image {
		margin-bottom: 30px;
	}
}

@media (max-width: 570px) {
	section.clients-section .clients-box ul.clients-list li {
		width: 50%;
	}
	section.event-promo-section .event-center h1, section.promo-banner-section .promo-banner-box h1 {
		font-size: 48px;
		line-height: 56px;
	}
	.conference-features .conference-post {
		width: 100%;
	}
	section.speaking-section3 .speakers-box .speaker-post a,
	section.speaking-section3 .speakers-box .speaker-post .speaker-content {
		float: none;
		width: 100%;
	}
	section.schedule-section2 .schedule-box .schedule-tabs .nav-tabs a.nav-item {
		padding: 10px 5px;
		font-size: 12px;
	}
	section.schedule-section2 .schedule-box .schedule-tabs .tab-content {
		padding: 40px 0px;
		border-left: none;
		border-right: none;
		background: transparent;
	}
	section.gallery-section ul.gallery-list li {
		width: 50%;
	}
	section.blog-section .blog-box.iso-call .blog-post,
	section.blog-section .blog-box.iso-call.with-sidebar .blog-post {
		width: 100%;
	}
}

@media (max-width: 480px) {
	section.about-section .video-box iframe {
		height: 200px;
	}
	section.clients-section .client-box ul.client-list li,
	section.clients-section2 .client-box ul.client-list li, 
	section.clients-section3 .client-box ul.client-list li,
	section.clients-section.with-article .client-box ul.client-list li {
		width: 100%;
	}
	section.gallery-section ul.gallery-list li {
		width: 100%;
	}
}