
/*------------------------------------------------- */
/* =  schedule section */
/*------------------------------------------------- */

section.schedule-section {
	background: #2b2b2c;
	.schedule-box {
		padding: 100px 0;
		background: url('../images/dev6.png') center top repeat-x;
		.title-section {
			h1 {
				margin-bottom: 30px;
			}
		}
		.schedule-block {
			padding: 30px;
			margin-top: 30px;
			background: #fff;
			@include border-radius(10px);
			h2 {
				color: $primary-color2;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid $primary-color2;
			}
			ul.schedule-list {
				@extend .reset-elem;
				li {
					display: block;
					padding-bottom: 20px;
					margin-bottom: 24px;
					border-bottom: 1px solid #e4e2f4;
					span.time {
						display: block;
						color: $primary-color;
						font-size: 18px;
						font-weight: 300;
						font-family: $font-default;
						margin: 0 0 15px;
					}
					img {
						width: 40px;
						height: auto;
						float: left;
						@include border-radius(50%);
					}
					.schedule-cont {
						margin-left: 70px;
						margin-top: -3px;
						p {
							font-weight: 400;
							margin-bottom: 0;
							line-height: 26px;
						}
						p.schedule-auth {
							font-style: italic;
							font-family: $font-alternative;
							span {
								color: $primary-color2;
							}
						}
					}
				}
				li:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: none;
				}
				li.time-off-item {
					padding-bottom: 0;
					border-bottom: none;
					margin-bottom: 30px;
					i {
						display: block;
						float: left;
						font-size: 36px;
						color: $primary-color2;
					}
					span.time-off {
						display: block;
						color: $primary-color2;
						font-size: 18px;
						font-family: $font-default;
						margin-left: 70px;
						line-height: 36px;
						margin-top: 17px;
					}
				}
			}
		}
		.schedule-text-ban {
			text-align: center;
			padding-top: 40px;
			p {
				color: #999999;
				margin-bottom: 20px;
				span {
					color: $primary-color;
				}
			}
			a.default-button {
				padding: 11px 60px;
			}
		}
	}
}

section.schedule-section2 {
	padding-top: 80px;
	background: #f9fafb;
	.schedule-box {
		.schedule-tabs {
			.nav-tabs {
				border: none;
				justify-content: center;
				a.nav-item {
					display: inline-block;
					border: none;
					text-align: center;
					background: $primary-color;
					color: #fff;
					font-size: 18px;
					font-family: $font-default;
					@include border-radius(0);
					padding: 12px 30px;
					margin: 0 2px;
					background: $primary-color2;
					border: 1px solid transparent;
					border-bottom: none;
					@include border-top-left-radius(3px);
					@include border-top-right-radius(3px);
				}
				a[aria-selected="true"] {
					background: #fff;
					color: $primary-color2;
					border: 1px solid #e4e2f4;
					border-bottom: none;
					margin-bottom: -1px;
				}
			}
			.tab-content {
				padding: 70px 100px;
				border: 1px solid #e4e2f4;
				background: #fff;
				@include box-shadow(0 25px 35px #efefef);
				.schedule-post {
					margin-bottom: 100px;
					position: relative;
					img {
						width: 70px;
						height: auto;
						float: left;
						@include border-radius(4px);
						margin-top: 38px;
						position: relative;
						z-index: 2;
					}
					i {
						width: 70px;
						height: 70px;
						display: block;
						background: $primary-color2;
						text-align: center;
						line-height: 70px;
						font-size: 36px;
						color: #fff;
						float: left;
						@include border-radius(4px);
						position: relative;
						z-index: 2;
					}
					.schedule-cont {
						margin-left: 100px;
						span.time {
							display: block;
							color: $primary-color;
							font-size: 18px;
							font-weight: 300;
							font-family: $font-default;
							margin: 0 0 5px;
						}
						p.schedule-title {
							color: $title-color;
							font-weight: 400;
						}
						p {
							font-weight: 300;
							margin-bottom: 5px;
							line-height: 26px;
						}
						p.schedule-auth {
							font-style: italic;
							font-family: $font-alternative;
							span {
								color: $primary-color2;
							}
						}
					}
				}
				.schedule-post:after {
					content: '';
					position: absolute;
					top: 80px;
					left: 35px;
					width: 1px;
					height: 260px;
					background: #e4e2f4;
				}
				.schedule-post:before {
					content: '';
					position: absolute;
					bottom: -50px;
					left: 25px;
					width: 20px;
					height: 20px;
					background: #fff;
					border: 1px solid #e4e2f4;
					@include border-radius(50%);
					z-index: 2;
				}
				.schedule-post.time-off-item:before {
					bottom: -100px;
				}
				.schedule-post.time-off-item {
					padding-top: 38px;
					span.time {
						margin-top: 5px;
					}
					span.time-off {
						display: block;
						color: $primary-color2;
						font-size: 18px;
						font-family: $font-default;
						line-height: 22px;
					}
				}
				.row:last-child {
					.schedule-post:after,
					.schedule-post:before {
						display: none;
					}
				}
				.center-area {
					a {
						@include box-shadow(0 10px 15px #efefef);
					}
				}
			}
		}
	}
}

section.schedule-section3 {
	padding: 80px 0 10px;
	.title-section {
		border-bottom: 1px solid #e4e2f4;
		padding-bottom: 40px;
	}
	.schedule-box {
		.schedule-block {
			margin-bottom: 75px;
			h1 {
				color: $primary-color2;
			}
			h2 {
				letter-spacing: -0.5px;
				padding-bottom: 13px;
				margin-bottom: 17px;
				border-bottom: 1px solid #e4e2f4;
			}
			.schedule-image {
				position: relative;
				img {
					width: 100%;
					height: auto;
					@include border-radius(5px);
				}
				.hover-box {
					position: absolute;
					bottom: 6px;
					left: 6px;
					.white-box {
						min-width: 270px;
						background: rgba(255,255,255, 0.9);
						text-align: center;
						padding: 10px 5px;
						margin-top: 6px;
						@include border-radius(3px);
						p {
							font-family: $font-alternative;
							font-style: italic;
							font-weight: 400;
							margin-bottom: 0;
						}
					}
				}
			}
			.schedule-content {
				ul.schedule-list {
					@extend .reset-elem;
					padding-left: 25px;
					li {
						color: $primary-color2;
						font-size: 18px;
						font-family: $font-alternative;
						font-style: italic;
						line-height: 28px;
						padding-left: 10px;
					}
				}
			}
			.schedule-speakers {
				ul.speaker-list {
					@extend .reset-elem;
					li {
						display: block;
						margin-bottom: 10px;
						overflow: hidden;
						display: flex;
						align-items: center;
						img {
							width: 40px;
							height: 40px;
							@include border-radius(50%);
							margin-right: 20px;
						}
						span {
							@extend .paragraph;
							color: $primary-color2;
							margin-bottom: 0;
							letter-spacing: -0.5px;
							line-height: 22px;
						}
					}
				}
			}
		}
	}
}


section.agenda-section {
	padding: 100px 0;
	background: #f9fafb;
	.article-box {
		margin-top: 25px;
	}
	.schedule-box {
		padding: 0 30px;
		ul.schedule-list {
			@extend .reset-elem;
			li {
				display: block;
				padding: 25px 30px;
				border-bottom: 1px solid #e4e2f4;
				span.time {
					display: block;
					color: $primary-color;
					font-size: 18px;
					font-weight: 300;
					font-family: $font-default;
					margin: 0;
				}
				img {
					width: 70px;
					height: auto;
					float: left;
					@include border-radius(6px);
				}
				.schedule-cont {
					margin-left: 100px;
					p {
						font-weight: 400;
						margin-bottom: 0;
						line-height: 26px;
					}
					p.schedule-auth {
						font-style: italic;
						font-family: $font-alternative;
						span {
							color: $primary-color2;
						}
					}
				}
			}
			li:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}
			li.time-off-item {
				background: #f7f8f9 !important;
				border-bottom: none;
				margin-top: -1px;
				overflow: hidden;
				padding-bottom: 25px;
				i {
					width: 70px;
					height: 70px;
					display: block;
					background: $primary-color;
					text-align: center;
					line-height: 70px;
					font-size: 36px;
					color: #fff;
					float: left;
					@include border-radius(6px);
					position: relative;
					z-index: 2;
				}
				span.time-off {
					display: block;
					color: #2f3032;
					font-size: 18px;
					font-family: $font-default;
					margin-left: 100px;
					line-height: 28px;
				}
				span.time {
					margin-left: 100px;
					margin-top: 7px;
				}
			}
		}
	}
}

.collapse-box {
	.panel-title {
		margin-bottom: 0;
	}
	.panel-default {
		background: #fff !important;
		border: none;
		margin-bottom: 1px;
		@include box-shadow(0 5px 50px rgba(0,0,0,0.1));
	}
	.panel-default>.panel-heading+.panel-collapse>.panel-body {
		border-top: none;
		padding: 60px 40px;
	}
	.panel {
		background: transparent;
	}
	.panel-default>.panel-heading {
		background: transparent;
		border: none;
		padding: 0;
		a {
			display: block;
			padding: 20px 40px;
			position: relative;
			color: $primary-color2;
			background: #fff;
			font-size: 24px;
			font-family: $font-default;
			font-weight: 400 !important;
			line-height: 24px;
			border-bottom: 1px solid $primary-color2;
		}
		a:before {
			content: '-';
			position: absolute;
			top: 20px;
			right: 40px;
			width: 24px;
			height: 24px;
			color: $primary-color2;
			font-size: 17px;
			font-family: $font-default;
			font-weight: 300;
			line-height: 20px;
			text-align: center;
			border: 1px solid $primary-color2;
			@include border-radius(50%);
			@include transition(0.2s);
		}
		a.collapsed {
			background: $primary-color2;
			color: #fff;
		}
		a.collapsed:before {
			content: '+';
			color: #fff;
			border-color: #fff;
		}
	}
}

