
/*------------------------------------------------- */
/* =  services section */
/*------------------------------------------------- */

section.services-section {
	padding: 150px 0 80px;
	border-top: 1px solid #e4e2f4;
	.services-box {
		.services-post {
			margin-bottom: 70px;
			i {
				float: left;
				color: #e4e2f4;
				font-size: 70px;
			}
			.services-post-content {
				margin-left: 100px;
				h2 {
					color: $primary-color2;
				}
				ul.service-list {
					@extend .reset-elem;
					padding-left: 25px;
					li {
						color: $primary-color2;
						font-size: 18px;
						font-family: $font-alternative;
						font-style: italic;
						line-height: 30px;
						padding-left: 10px;
					}
				}
			}
		}
	}
}