
/*------------------------------------------------- */
/* =  Single Post */
/*------------------------------------------------- */

section.blog-section {
    .blog-box {
        text-align: left;
        .single-post {
            border-bottom: none;
            margin-bottom: 0;
            img {
                margin-bottom: 30px;
                width: 100%;
                height: auto;
            }
            p {
                margin-bottom: 30px;
                a {
                    color: $primary-color2;
                    text-decoration: underline !important;
                    font-style: italic;
                }
            }
            blockquote {
                padding: 45px 30px;
                background: $primary-color2;
                @include border-radius(3px);
                position: relative;
                margin-bottom: 35px;
                span {
                    font-size: 18px;
                    font-family: $font-default;
                    font-weight: 300;
                    color: #d8d6ed;
                    margin-bottom: 0px;
                }
                p {
                    font-family: $font-alternative;
                    color: #fff;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 36px;
                    font-size: 24px;
                    margin-bottom: 12px;
                }
            }
            blockquote:before {
                position: absolute;
                content: '\f10d';
                font-size: 114px;
                font-family: 'FontAwesome';
                top: 0px;
                left: 30px;
                color: rgba(255,255,255,0.15);
            }
            ul.share-project {
                @extend .reset-elem;
                margin-bottom: 40px;
                li {
                    display: inline-block;
                    color: #a099dc;
                    font-size: 18px;
                    font-family: $font-alternative;
                    font-style: italic;
                    margin-right: 7px;
                    a {
                        font-size: 14px;
                        color: #798593;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        border: 1px solid #798593;
                        text-align: center;
                        @include border-radius(50%);
                    }
                    a:hover {
                        color: #fff;
                        border: 1px solid transparent;
                    }
                    a.facebook:hover {
                        background: #584bc2;
                    }
                    a.twitter:hover {
                        background: #47bbe1;
                    }
                    a.google:hover {
                        background: #ee3d3d;
                    }
                }
                li:first-child {
                    margin-right: 14px;
                }
            }
        }
        .prev-next-post {
            .other-post {
                padding: 35px 25px;
                border: 1px solid #e4e2f4;
                @include border-radius(5px);
                background: #f9fafb;
                margin-bottom: 40px;
                img {
                    float: left;
                    width: 70px;
                    height: auto;
                    @include border-radius(3px);
                }
                .post-content {
                    margin-left: 88px;
                    > a {
                        color: $primary-color2;
                        font-size: 14px;
                        font-family: $font-default;
                        font-weight: 300;
                        margin: 0;
                    }
                    h2 {
                        font-size: 17px;
                        margin-bottom: 0;
                        line-height: 20px;
                        letter-spacing: -0.5px;
                        a {
                            color: $title-color;
                        }
                        a:hover {
                            color: $primary-color;
                        }
                    }
                    span {
                        display: inline-block;
                        color: #6c7a89;
                        font-size: 14px;
                        font-family: $font-default;
                        font-weight: 300;
                    }
                }
            }
            .other-post.next-post {
                img {
                    float: right;
                }
                .post-content {
                    margin-left: 0;
                    margin-right: 88px;
                    text-align: right;
                }
            }
        }
    }
}
.center-area {
    text-align: center;
}

.comment-area-box {
    > h2 {
        padding-bottom: 18px;
        margin-bottom: 40px;
        position: relative;
    }
    > h2:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 70px;
        height: 1px;
        background: #2d3034;
    }
    > ul {
        @extend .reset-elem;
        li {
            list-style: none;
            .comment-box {
                overflow: hidden;
                margin-bottom: 50px;
                padding-bottom: 40px;
                border-bottom: 1px solid #efeef6;
                img {
                    max-width: 70px;
                    height: auto;
                    float: left;
                    @include border-radius(50%);
                }
                .comment-content {
                    margin-left: 100px;
                    h4 {
                        float: left;
                        color: #6c7a89;
                        font-size: 18px;
                        font-family: $font-alternative;
                        font-style: italic;
                        margin: 0;
                        span {
                            color: $primary-color2;
                        }
                    }
                    a {
                        float: right;
                        color: $primary-color2;
                        font-size: 18px;
                        font-family: $font-alternative;
                        font-style: italic;
                        margin: 0;
                    }
                    a:hover {
                        color: $primary-color;
                    }
                    p {
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
    ul.depth {
        @extend .reset-elem;
        .comment-box {
            padding-left: 100px;
        }
    }
}

.contact-form-box {
    > h2 {
        padding-bottom: 18px;
        margin-bottom: 40px;
        position: relative;
    }
    > h2:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 70px;
        height: 1px;
        background: #2d3034;
    }
    #comment-form {
        margin: 0;
        input[type="text"],
        textarea {
            width: 100%;
            padding: 12px 20px;
            background: #f9fafb;
            color: #6c7a89;
            font-size: 18px;
            font-family: $font-default;
            font-weight: 300;
            line-height: 24px;
            outline: none;
            border: 1px solid #e4e2f4;
            margin: 0 0 24px;
            @include transition(0.2s);
            @include border-radius(2px);
        }
        textarea {
            height: 120px;
            margin-bottom: 24px;
        }
        input[type="submit"] {
            color: #fff;
            font-size: 18px;
            font-family: $font-default;
            text-transform: uppercase;
            padding: 11px 38px;
            background: $primary-color;
            font-weight: 400;
            @include border-radius(2px);
            @include transition(0.2s);
            border: none;
        }
        input[type="submit"]:hover {
            background: $primary-color2;
        }
    }
}