
/*------------------------------------------------- */
/* =  speaking section */
/*------------------------------------------------- */

section.speaking-section,
section.speaking-section3 {
	padding: 80px 0;
	.speakers-box {
		.speaker-post {
			margin-bottom: 30px;
			img {
				width: 100%;
				height: auto;
				@include border-top-left-radius(6px);
				@include border-top-right-radius(6px);
			}
			.speaker-content {
				padding: 16px 20px 20px;
				border: 1px solid #e4e2f4;
				@include border-bottom-left-radius(6px);
				@include border-bottom-right-radius(6px);
				@include transition(0.2s);
				h2 {
					a {
						color: #2d3034;
					}
					a:hover {
						color: $primary-color;
					}
					margin-bottom: 0;
				}
				span {
					display: block;
					color: $primary-color2;
					font-size: 18px;
					font-style: italic;
					font-family: $font-alternative;
					margin: 0 0 16px;
				}
				ul.social-links {
					@extend .reset-elem;
					li {
						display: inline-block;
						margin-right: 15px;
						a {
							color: #798593;
							font-size: 18px;
						}
						a:hover {
							color: $primary-color2;
						}
					}
				}
			}
		}
		.speaker-post:hover {
			.speaker-content {
				@include box-shadow(0 0 40px #e1e1e1);
			}
		}
		.speaker-apply {
			height: 304px;
			border: 1px solid #e4e2f4;
			@include border-radius(6px);
			padding: 36px 36px 50px;
			display: flex;
			h2 {
				align-self: flex-end;
				a {
					color: $primary-color2;
				}
			}
		}
	}
}

section.speaking-section2 {
	padding: 80px 0;
	background: #2f3032 url('../images/dev7.png') center top repeat-x;
	.title-section {
		a.default-button {
			margin-top: 20px;
			float: right;
		}
	}
	.speakers-box {
		.speaker-post {
			margin-bottom: 30px;
			img {
				width: 100%;
				height: auto;
				@include border-radius(6px);
			}
			.speaker-content {
				padding: 16px 0;
				h2 {
					a {
						color: #fff;
					}
					a:hover {
						color: $primary-color2;
					}
					margin-bottom: 0;
				}
				span {
					display: block;
					color: $primary-color;
					font-size: 18px;
					font-style: italic;
					font-family: $font-alternative;
					margin: 0 0 18px;
				}
				ul.social-links {
					@extend .reset-elem;
					li {
						display: inline-block;
						margin-right: 6px;
						a {
							width: 30px;
							height: 30px;
							color: #798593;
							@include border-radius(50%);
							border: 1px solid #798593;
							font-size: 14px;
							line-height: 28px;
							text-align: center;
						}
						a:hover {
							background: #798593;
							color: $primary-color;
						}
					}
				}
			}
		}
	}
}

section.speaking-section3 {
	background: #f9fafb;
	.speakers-box {
		.speaker-post {
			overflow: hidden;
			> a {
				float: left;
				width: 47%;
			}
			img {
				@include border-top-right-radius(0px);
				@include border-bottom-left-radius(6px);
			}
			.speaker-content {
				width: 53%;
				float: left;
				padding: 36px 30px;
				border: 1px solid #e4e2f4;
				@include border-bottom-left-radius(0px);
				@include border-top-right-radius(6px);
				@include transition(0.2s);
			}
		}
		.speaker-post:hover {
			.speaker-content {
				@include box-shadow(none);
			}
		}
	}
}

section.speaking-single {
	padding: 80px 0;
	.single-box {
		.single-image {
			margin-bottom: 40px;
			a {
				@extend .paragraph;
				i {
					margin-right: 10px;
					font-size: 12px;
					float: left;
					padding-top: 9px;
				}
				margin-bottom: 60px;
			}
			a:hover {
				color: $primary-color;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		.single-content {
			.single-data {
				margin-bottom: 30px;
				h1 {
					margin-bottom: -3px;
				}
				span {
					display: inline-block;
					color: $primary-color2;
					font-size: 24px;
					font-style: italic;
					font-family: $font-alternative;
					padding-bottom: 20px;
					margin-bottom: 20px;
					position: relative;
				}
				span:after {
					content: '';
					position: absolute;
					bottom: -1px;
					left: 0;
					width: 70px;
					height: 1px;
					background: #2d3034;
				}
			}
			h2 {
				font-weight: 300;
				margin-bottom: 20px;
			}
			.single-connection {
				margin-bottom: 30px;
				ul.social-links {
					@extend .reset-elem;
					margin-bottom: 20px;
					li {
						display: inline-block;
						margin-right: 6px;
						a {
							width: 30px;
							height: 30px;
							color: #798593;
							@include border-radius(50%);
							border: 1px solid #798593;
							font-size: 14px;
							line-height: 28px;
							text-align: center;
						}
						a:hover {
							background: #798593;
							color: $primary-color;
						}
					}
				}
				p span {
					color: $primary-color2;
				}
			}
			.single-skills {
				.skills-progress {
		            div.meter {
		                height: 6px;
		                background: #e4e2f4;
		                margin-bottom: 20px;
		                @include border-radius(2px);
		                p {
		                    height: 100%;
		                    background: $primary-color;
		                    @include border-radius(2px);
		                }
		            }
				}
			}
		}
	}
}



