
/*------------------------------------------------- */
/* =  Statistic sections*/
/*------------------------------------------------- */

section.statistic-section {
    padding: 70px 0;
    text-align: center;
    @include retina('../upload/banners/banner.jpg', 2, cover, center center fixed);
    .statistic-box {
        max-width: 600px;
        margin: 0 auto;
        .statistic-post {
            text-align: center;
            margin-bottom: 35px;
            p.timer-elem {
                display: inline-block;
                color: #fff;
                font-size: 36px;
                font-weight: 400;
                margin-bottom: 20px;
            }
            h3 {
                color: #fff;
            }
            p {
                margin-bottom: 0;
                font-size: 13px;
                color: #fff;
                line-height: 18px;
            }
        }
        p.info-line {
            margin-bottom: 0;
            line-height: 18px;
            text-align: center;
            color: #fff;
            span {
                display: inline-block;
                color: #fff;
                font-size: 11px;
                font-weight: 600;
                font-family: $font-default;
                text-transform: uppercase;
                padding: 10px 45px;
                background: transparent;
                border: 2px solid #eeeeee;
                @include border-radius(20px);
                margin-right: 8px;
            }
            a {
                color: #fff;
                font-size: 11px;
                font-weight: 600;
                font-family: $font-default;
                text-transform: uppercase;
                padding: 10px 45px;
                background: $primary-color;
                border: 2px solid $primary-color;
                @include border-radius(20px);
                margin-left: 8px;
            }
            a:hover {
                background: #f64747;
                border-color: #f64747;
            }
        }
    }
}