
/* import google fonts */
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');

//the default font in our template
$font-default: 'Rubik', sans-serif;

//the second font in our template
$font-alternative: 'Lora', serif;

//default color skin
$primary-color: #2ecc71;

//second color skin
$primary-color2: #5649c0;

//second color
$second-color: #3a539b;

//third color
$third-color: #4b77be;

//default color skin with opacity
$primary-color-trans: rgba(46, 204, 113, 0.9);

//text color 1 (some titles)
$title-color: #2d3034;

//text color 1 (some titles)
$text-color: #6c7a89;

//reset element paddings and margins

.reset-elem {
    margin: 0;
    padding: 0;
}

//default style for paragraphs in this template
.paragraph, p {
    font-size: 18px;
    color: $text-color;
    font-family: $font-default;
    font-weight: 300;
    line-height: 30px;
    margin: 0 0 10px;
}

//default style for hading1 in this template
.heading1, h1 {
    color: $title-color;
    font-size: 48px;
    font-family: $font-default;
    font-weight: 400;
    line-height: 52px;
    margin: 0 0 20px;
}

//default style for hading2 in this template
.heading2, h2 {
    color: $title-color;
    font-size: 24px;
    font-family: $font-default;
    font-weight: 400;
    margin: 0 0 10px;
    line-height: 28px;
}

//default style for hading2 in this template
.heading3, h3 {
    color: #2d3034;
    font-size: 18px;
    font-family: $font-default;
    font-weight: 400;
    margin: 0 0 4px;
    line-height: 28px;
}

//variable for radius corners
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

//variable for radius corners
@mixin border-bottom-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-bottom-left-radius: $radius;
    -o-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

//variable for radius corners
@mixin border-bottom-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-bottom-right-radius: $radius;
    -o-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

//variable for radius corners
@mixin border-top-left-radius($radius) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-top-left-radius: $radius;
    -o-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
}

//variable for radius corners
@mixin border-top-right-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    -moz-border-top-right-radius: $radius;
    -o-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
}

//variable for transitions
@mixin transition($speed) {
    transition: all $speed ease-in-out;
    -moz-transition: all $speed ease-in-out;
    -webkit-transition: all $speed ease-in-out;
    -o-transition: all $speed ease-in-out;
}

//variable for tranform grow elem scale
@mixin transform($scale) {
    transform: scale($scale);
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -o-transform: scale($scale);
}

//box shadow  variable
@mixin box-shadow($val) {
    box-shadow: $val;
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    -o-box-shadow: $val;
}

//animate transform rotate variable
@mixin rotate($rotate) {
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    transform: rotate($rotate);
}

//background size cover
.back-cover {
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

//default style for anchors in this template
.anchor {
    display: inline-block;
    text-decoration: none !important;

    @include transition(0.2s);
}

